@model COVT_Web.Models.DB.BolezniDb

<head>
    <h2>Редактирование болезни</h2>
    <link rel="stylesheet" href="~/css/mystile.css" />
</head>
<body>
    <form asp-action="Edit" asp-controller="Bolezni" asp-route-id="@Model.id_bolezni">
        <div>
            <label>Название:</label>
            <textarea asp-for="nazvanie" class="form-control" id="nazvanie"></textarea>
        </div>
        <div>
            <label>Жалобы:</label>
            <textarea asp-for="zhalobi" class="form-control" id="zhalobi" ></textarea>
        </div>

        <div>
            <label>История заболевания:</label>
            <textarea asp-for="ist_zab" class="form-control" id="ist_zab" ></textarea>
        </div>

        <div>
            <label>Настоящий статус:</label>
            <textarea asp-for="nast_stat" class="form-control" id="nast_stat" ></textarea>
        </div>

        <div>
            <label>Местный статус:</label>
            <textarea asp-for="mest_stat" class="form-control" id="mest_stat" ></textarea>
        </div>

        <div>
            <label>Дополнительные методы обследования:</label>
            <textarea asp-for="dop_met_obsl" class="form-control" id="dmo" ></textarea>
        </div>

        <div>
            <label>Диагноз:</label>
            <textarea asp-for="diagnoz" class="form-control" id="diagnoz" ></textarea>
        </div>

        <div>
            <label>План обследования:</label>
            <textarea asp-for="plan_obsl" class="form-control" id="plan_obsl" ></textarea>
        </div>

        <div>
            <label>План лечения:</label>
            <textarea asp-for="plan_lech" class="form-control" id="plan_lech" ></textarea>
        </div>

        <div>
            <label>Заключение:</label>
            <textarea asp-for="zakl" class="form-control" id="zakl" ></textarea>
        </div>

        <div>
            <button type="submit" class="btn-dark">Сохранить</button>
        </div>
    </form>
</body>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // Функция для обновления высоты textarea
        function updateTextareaHeight(textarea) {
            const scrollTop = textarea.scrollTop;

            textarea.style.height = "auto"; // Сначала установим auto
            let scHeight = textarea.scrollHeight;
            textarea.style.height = `${scHeight}px`;

            textarea.scrollTop = scrollTop;
        }

        // Обработчик для реагирования на нажатия клавиш в поле textarea
        $('textarea').on('input', function () {
            updateTextareaHeight(this);
        });


    </script>
}