@model COVT_Web.Models.DB.PatsientiDb
<head>
    <link rel="stylesheet" href="~/css/mystile.css" />
</head>
<body>
    <form asp-action="create" asp-controller="Patsienti" method="post">
        <div>
            <label>Врач:</label>
            <select asp-for="id_vracha" asp-items="ViewBag.VrachiDB"></select>
        </div>

        <div class="container">
            <div class="entryarea">
                <input asp-for="familiya" type="text" required class="mytextbox" placeholder="ФИО"/>
                <span asp-validation-for="familiya" class="text-danger"></span>
            </div>
        </div>

        <div>
            <input asp-for="data_rozhdeniya" class="mytextbox" placeholder="Дата рождения"/>
            <span asp-validation-for="data_rozhdeniya" class="text-danger"></span>
        </div>

        <div>
            <input asp-for="nalichie_operatsii" class="mytextbox" placeholder="Наличие операции" />
            <span asp-validation-for="nalichie_operatsii" class="text-danger"></span>
        </div>

        <div>
            <input asp-for="telefon" class="mytextbox" placeholder="Телефон" />
            <span asp-validation-for="telefon" class="text-danger"></span>
        </div>

        <div>
            <input asp-for="adres" class="mytextbox" placeholder="Адрес" />
            <span asp-validation-for="adres" class="text-danger"></span>
        </div>

        <div>
            <button class="button-like" type="submit" width="200px">Добавить пациента</button>
        </div>
    </form>
</body>