@model IEnumerable<COVT_Web.Models.DB.PatsientiDb>

<head>
    <link rel="stylesheet" href="~/css/mystile.css" />
</head>
<body>
    <form asp-action="Patsienti" method="get">
        <div class="form-group">
            <input class="mytextbox" type="text" name="poisk" id="searchInput" placeholder="Поиск пациента" value="@ViewData["Poiskk"]" />
            <span><a asp-controller="Patsienti" asp-action="Create" class="button-like">Добавить пациента</a></span>
        </div>
    </form>
    <div id="partialViewContainer">
        @Html.Partial("_PartialViewPatsienti", Model)
    </div>
</body>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                var poisk = $(this).val().trim();
                $.ajax({
                    url: '/Patsienti/Patsienti',
                    type: 'GET',
                    data: { poisk: poisk },
                    success: function (result) {
                        $('#partialViewContainer').html(result);
                    }
                });
            });
        });
    </script>
}