<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - COVT_Web</title>
@*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
*@    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="menu">
            <div class="title"><h1>Навигация</h1></div>
            <div class="list_menu">
                <ul>
                    <li>
                        <a asp-controller="Patsienti" asp-action="Patsienti">Пациенты</a>
                    </li>
                    <li>
                        <a asp-controller="Ambulatorka" asp-action="Ambulatorka">Амбулаторная карта</a>
                    </li>
                    <li>
                        <a asp-controller="Statsionar" asp-action="Statsionar">Стационарная карта</a>
                    </li>
                    <li>
                        <a asp-controller="Bolezni" asp-action="Bolezni">Болезни</a>
                    </li>
                    <li>
                        <a asp-controller="Files" asp-action="Files">Файлы</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
