@model IEnumerable<COVT_Web.Models.ViewModel.AmbulatorkaView>

<head>
    <link rel="stylesheet" href="~/css/mystile.css" />
</head>
<body>
    <form asp-action="Ambulatorka" method="get">
        <div class="form-group">
            <label for="searchInput">Поиск пациента</label>
            <input type="text" id="searchInput" name="poisk" value="@ViewData["Poiskk"]" />
        </div>
    </form>
    <a asp-controller="Ambulatorka" asp-action="Create">Добавить карту</a>
    <div id="partialViewContainer">
        @Html.Partial("_PartialViewAmbulatorka", Model)  
    </div>
</body>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                var poisk = $(this).val().trim();
                $.ajax({
                    url: '/Ambulatorka/Ambulatorka',
                    type: 'GET',
                    data: { poisk: poisk },
                    success: function (result) {
                        $('#partialViewContainer').html(result);
                    }
                });
            });
        });
    </script>
}