@model COVT_Web.Models.DB.AmbulatorkaDb
<head>
    <link rel="stylesheet" href="~/css/mystile.css" />
</head>
<body>
    <form asp-action="Create" asp-controller="Ambulatorka" method="post">
        <div>
            <label>Дата приёма</label>
            <input asp-for="data_priema" type="date" class="mytextbox" id="dateField" />
        </div>
        <div>
            <label>Болезнь:</label>
            <select asp-for="id_bolezni" asp-items="ViewBag.BolezniDb"></select>
        </div>

        <div>
            <label>Врач:</label>
            <select asp-for="id_vracha" asp-items="ViewBag.VrachiDb"></select>
        </div>

        <div>
            <label>Пациент:</label>
            <select asp-for="id_patsienta" asp-items="ViewBag.PatsientiDb"></select>
        </div>
        <div>
            <input asp-for="id_kobineta" type="number" placeholder="Кабинет" class="mytextbox" />
        </div>
        <div>
            <label>Жалобы:</label>
            <textarea asp-for="zhalobi" id = "zhalobi"></textarea>
        </div>

        <div>
            <label>История заболевания:</label>
            <textarea asp-for="ist_zab" id="ist_zab"></textarea>
        </div>  

        <div>
            <label>Настоящий статус:</label>
            <textarea asp-for="nast_stat" id="nast_stat"></textarea>
        </div>

        <div>
            <label>Местный статус:</label>
            <textarea asp-for="mest_stat" id="mest_stat"></textarea>
        </div>

        <div>
            <label>Дополнительные методы обследования:</label>
            <textarea asp-for="dop_met_obsl" id="dmo"></textarea>
        </div>

        <div>
            <label>Диагноз:</label>
            <textarea asp-for="diagnoz" id="diagnoz"></textarea>
        </div>

        <div>
            <label>План обследования:</label>
            <textarea asp-for="plan_obsl" id="plan_obsl"></textarea>
        </div>

        <div>
            <label>План лечения:</label>
            <textarea asp-for="plan_lech" id="plan_lech"></textarea>
        </div>

        <div>
            <label>Заключение:</label>
            <textarea asp-for="zakl" id="zakl"></textarea>
        </div>

        <div>
            <button type="submit" class="button-like">Добавить карту</button>
        </div>
    </form>
</body>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        document.getElementById('dateField').valueAsDate = new Date();

        $(document).ready(function () {
            $('#id_bolezni').on('change', function () {
                var selectedDiseaseId = $(this).val();

                // Отправляем AJAX-запрос на сервер
                $.get('/Ambulatorka/GetInfoBolezni', { id: selectedDiseaseId }, function (response) {
                    // Обновляем поля формы с данными из ответа
                    $('#zhalobi').val(response.zhalobi);
                    $('#ist_zab').val(response.ist_zab);
                    $('#nast_stat').val(response.nast_stat);
                    $('#mest_stat').val(response.mest_stat);
                    $('#dmo').val(response.dmo);
                    $('#diagnoz').val(response.diagnoz);
                    $('#plan_obsl').val(response.plan_obsl);
                    $('#plan_lech').val(response.plan_lech);
                    $('#zakl').val(response.zakl);

                    // Вызываем функцию для обновления высоты textarea для каждого textarea на странице
                    $('textarea').each(function () {
                        updateTextareaHeight($(this));
                    });
                });

            });

            // Функция для обновления высоты textarea
            function updateTextareaHeight(textarea) {
                const scrollTop = textarea.scrollTop;

                textarea.style.height = "auto"; // Сначала установим auto
                let scHeight = textarea.scrollHeight;
                textarea.style.height = `${scHeight}px`;

                textarea.scrollTop = scrollTop;
            }

            // Обработчик для реагирования на нажатия клавиш в поле textarea
            $('textarea').on('input', function () {
                updateTextareaHeight(this);
            });
        });

        $(document).ready(function () {
            $('#plan_obsl, #plan_lech').keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();

                    var text = $(this).val();
                    var lines = text.split('\n');
                    var numberedLines = '';
                    var hasNumberedList = /^\d+\. /; // Регулярное выражение для проверки наличия номера абзаца

                    for (var i = 0; i < lines.length; i++) {
                        if (hasNumberedList.test(lines[i])) {
                            // Пропускаем нумерацию, если строка уже начинается с номера абзаца
                            numberedLines += lines[i] + '\n';
                        } else {
                            numberedLines += (i + 1) + '. ' + lines[i] + '\n';
                        }
                    }

                    $(this).val(numberedLines);
                }
            });
        });
    </script>
}