@model COVT_Web.Models.DB.StatsionarDb
<head>
    <link rel="stylesheet" href="~/css/mystile.css" />
</head>
<body>
    <form asp-action="Create" asp-controller="Statsionar" method="post">
        <div>
            <label>Дата приёма:</label>
            <input asp-for="data_postupleniya" type="date"/>
        </div>
        <div>
            <label>Болезнь:</label>
            <select asp-for="id_bolezni" asp-items="ViewBag.BolezniDb"></select>
        </div>

        <div>
            <label>Врач:</label>
            <select asp-for="id_vracha" asp-items="ViewBag.VrachiDb"></select>
        </div>

        <div>
            <label>Пациент:</label>
            <select asp-for="id_patsienta" asp-items="ViewBag.PatsientiDb"></select>
        </div>
        <div>
            <label>Жалобы:</label>
            <textarea asp-for="zhalobi"  id="zhalobi"></textarea>
        </div>

        <div>
            <label>История заболевания:</label>
            <textarea asp-for="ist_zab"  id="ist_zab"></textarea>
        </div>

        <div>
            <label>История жизни:</label>
            <textarea asp-for="ist_zhizni"  id="ist_zhizni"></textarea>
        </div>

        <div>
            <label>Настоящий статус:</label>
            <textarea asp-for="nast_stat"  id="nast_stat"></textarea>
        </div>

        <div>
            <label>Местный статус:</label>
            <textarea asp-for="mest_stat"  id="mest_stat"></textarea>
        </div>

        <div>
            <label>Дополнительные методы обследования:</label>
            <textarea asp-for="dop_met_obsl"  id="dmo"></textarea>
        </div>

        <div>
            <label>Диагноз:</label>
            <textarea asp-for="diagnoz"  id="diagnoz"></textarea>
        </div>

        <div>
            <label>План обследования:</label>
            <textarea asp-for="plan_obsl"  id="plan_obsl"></textarea>
        </div>

        <div>
            <label>План лечения:</label>
            <textarea asp-for="plan_lech"  id="plan_lech"></textarea>
        </div>

        <div>
            <label>Заключение:</label>
            <textarea asp-for="zakl"  id="zakl"></textarea>
        </div>

        <div>
            <label>Наблюдение:</label>
            <textarea asp-for="nablyudenie"  id="nablyudenie"></textarea>
        </div>

        <div>
            <label>Осмотр анастезиолога:</label>
            <textarea asp-for="osman"  id="osman"></textarea>
        </div>

        <div>
            <label>Осмотр специалистов:</label>
            <textarea asp-for="osmspets"  id="osmspets"></textarea>
        </div>

        <div>
            <label>Предоперационная подгатовка:</label>
            <textarea asp-for="predoper"  id="predoper"></textarea>
        </div>

        <div>
            <label>Ход операции:</label>
            <textarea asp-for="khod_operat"  id="khod_operat"></textarea>
        </div>

        <div>
            <label>Выписной эпикриз:</label>
            <textarea asp-for="vip_epikr"  id="vip_epikr"></textarea>
        </div>

        <div>
            <button type="submit" class="button-like">Добавить пациента</button>
        </div>
    </form>
</body>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_bolezni').on('change', function () {
                var selectedDiseaseId = $(this).val();

                // Отправляем AJAX-запрос на сервер
                $.get('/Ambulatorka/GetInfoBolezni', { id: selectedDiseaseId }, function (response) {
                    // Обновляем поля формы с данными из ответа
                    $('#zhalobi').val(response.zhalobi);
                    $('#ist_zab').val(response.ist_zab);
                    $('#nast_stat').val(response.nast_stat);
                    $('#mest_stat').val(response.mest_stat);
                    $('#dmo').val(response.dmo);
                    $('#diagnoz').val(response.diagnoz);
                    $('#plan_obsl').val(response.plan_obsl);
                    $('#plan_lech').val(response.plan_lech);
                    $('#zakl').val(response.zakl);

                    // Вызываем функцию для обновления высоты textarea для каждого textarea на странице
                    $('textarea').each(function () {
                        updateTextareaHeight($(this));
                    });
                });

            });

            // Функция для обновления высоты textarea
            function updateTextareaHeight(textarea) {
                const scrollTop = textarea.scrollTop;

                textarea.style.height = "auto"; // Сначала установим auto
                let scHeight = textarea.scrollHeight;
                textarea.style.height = `${scHeight}px`;

                textarea.scrollTop = scrollTop;
            }

            // Обработчик для реагирования на нажатия клавиш в поле textarea
            $('textarea').on('input', function () {
                updateTextareaHeight(this);
            });
        });
    </script>
}